<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865003278563-oku8ns170d7kmd2dssjgnhb26u5iv23k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865003278563-oku8ns170d7kmd2dssjgnhb26u5iv23k</string>
	<key>API_KEY</key>
	<string>AIzaSyDnR3FUSVPOIwuipbJ7SyJ6Y8wt0v5SI9c</string>
	<key>GCM_SENDER_ID</key>
	<string>865003278563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoLockerApp</string>
	<key>PROJECT_ID</key>
	<string>demolocker-8c4f4</string>
	<key>STORAGE_BUCKET</key>
	<string>demolocker-8c4f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865003278563:ios:8ac886d2adc43ea97cb5d6</string>
</dict>
</plist>